body {
	color: #fffefd !important;
	background-color: #1b1c1e;
}

.navbar .navbar-nav .nav-link {
	color: #fffefd;
	font-size: 1.2rem;
}

.navbar .navbar-nav .nav-link:hover {
	color: #4863f7 !important;
}

.my-btn-primary {
	width: 170px;
	height: 2.7rem;
	color: #fffefd;
	background-color: #4863f7;
}

.my-btn-primary:hover {
	color: #fffefd;
	background-color: #0825c6;
}

.about-me h1 span {
	display: block;
	color: #4863f7;
}

/* Redes sociais */
.social-medias h3 {
	font-size: 1.2rem;
}

.list-inline-item a {
	color: white;
}

.list-inline-item {
	transition: background-color 0.5s;
}

.list-inline-item:hover {
	background-color: #4863f7;
	color: #fff;
	border-color: #4863f7;
}

.list-inline-item {
	width: 43px;
	height: 43px;
	font-size: 23px;
	border: 1px solid;
	border-radius: 2px;
	line-height: 43px;
	text-align: center;
}

.about-me .about-me-img {
	height: 35rem;
	background-color: #4863f7;
}

/* Meus serviços */
.my-services .row .card {
	width: 17rem;
	color: #fffefd;
	background-color: #2a2c2e;
}

/* Minhas habilidades */
.rectangle {
	width: 180px;
	height: 50px;
	background-color: #2a2c2e;
	display: flex;
	align-items: center;
	border-radius: 3px;
	cursor: pointer;
	padding: 10px;
}

.rectangle-short {
	width: 135px;
}

.rectangle:hover {
	background-color: #4863f7;
}

.rectangle span {
	font-weight: 600;
	font-size: 1.3rem;
	margin-left: 10px;
}

.skill-img {
	width: 30px;
	height: 30px;
}

@media (max-width: 576px) {
	.my-services .row .card, .rectangle {
		width: 90%;
		margin: 0 auto;
	}

    .rectangle {
        margin-top: 1rem;
    }
}
