* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
    color: $text-white;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

ul {
	list-style: none;
}

.btn,
.btn:focus,
.btn:active,
.btn-icon:focus,
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
	outline: none;
	box-shadow: none;
	border: 0;
	position: relative;
}