$primary-color: #00b2ff;
$secondary-color: #0099db;

$text-white: #ffffff;
$text-white--opacity-8: rgba(255, 255, 255, 0.8);
$text-white--opacity-7: rgba(255, 255, 255, 0.7);
$text-black: #121212;

$background-color-dark: #121212;
$color-bg-box: #191919;
