h1 span {
    display: block;
    color: $primary-color;
}

.frontend {
    margin-top: 2rem;
    font-size: 1rem;
}

.frontend {
    max-width: 480px;
    text-align: center;
    margin: 60px auto;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.frontend::after {
    content: '|';
    margin-left: 1px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.contact-me h4 span {
	color: $primary-color;
}

