h1 span {
    display: block;
    color: $primary-color;
}

.introduction__description {
    font-size: 1rem;
    color: $text-white--opacity-8;
    margin-top: 2rem;
}

.introduction__btn {
    align-items: center;
    
    .btn {
    width: 150px;
    padding: 0;
    }

    > .introduction__btn__more-me {
        width: 150px;
        color: $primary-color;
        margin-left: 1rem;

        &:hover {
            color: $text-white;
        }
    }
}



.contact-me h4 span {
	color: $primary-color;
}

