.card {
    color: $text-black;
	margin-top: 1.5rem;

	& .card-body {
		display: none;
	}

    &:hover {
        .card-body {
            display: block;
        }
    }
}

.card-title {
	font-weight: 600;
	margin-bottom: 1rem;
}

.card-text {
	.row > * {
		width: auto;
	}
}

.button-left-icon {
	background-color: $background-color-dark;
	width: 150px;

	&:hover {
		background-color: #373737;
	}

}

.button-left-icon--github .button-left-icon {
	color: $text-black;
	background-color: $text-white;
	border: 1px solid $text-black;

	&:hover {
		color: $text-white;
		background-color: #000;
	}
}

.button-left-icon i {
	margin-right: 10px;
	margin-left: 0;
}
